body{
background: url("../img/back.jpg")no-repeat ;

margin: 0 auto;
}

img {
    border: none
}

li {
    list-style: none
}
/****************************导航***********************************/
.top_nav{

    border-bottom: 1px solid #404553;
    background-color: #1e9fff;
    height: 60px;
}

#top_nav{
    width: 600px;
    margin: 0 auto;
}
.layui-nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
#login{
    position: absolute;
    right: -150px;

}
#login a span{
    font-size: 18px;
}
#login:hover{
    cursor: pointer;
}
.top_nav a{
    font-size: 18px;
}


#user_page{
    right: -150px;
    position: absolute;
}
#user_page img:hover{
    cursor: pointer;
}
/****************************导航***********************************/


/**********************************登录**************************/
.signform {

    position: fixed;
    background-color: #ffffff;
    top: 20%;
    left: 32%;
    width: 500px;
    height: 400px;
    border-radius: 1em;
    text-align: center;
    z-index: 999;
}
#registerform {
    height: 450px;
}
.signclose {
    cursor: pointer;
    float: right;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}
.signinput {
    text-align: center;
    border-radius: 0.2em;
    width: 280px;
    height: 45px;
    border: none;
    background-color:#f2f2f2;
    font-size: 28px;
}
.signinput::-webkit-input-placeholder {
    font-size: 26px;
}
.userdiv {
    position: relative;
    margin-top: 80px;
}
.pwddiv {
    position: relative;
    margin-top: 20px;
}
.postdiv {
    position: relative;
    margin-top: 20px;
}
.postdiv input {
    cursor: pointer;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 0.4em;
    width: 280px;
    height: 45px;
    background-color:#1e9fff;
}
.postdiv input:hover {
    color: rgba(13,87,189,0.66);
}


.pwddiv p {
    color: #42494f;
}
.change{
    color: #4d4d4d;
}
.change a{
    text-decoration: none;color: #1da3f5
}


/**********************************登录**************************/



/**********************logo**************/
.logo{
    text-align: center;
    margin-top: 20px;
}
.logo img{
    display: inline-block;

    width: 150px;
    height: 150px;

}
/*************************logo******************/

/*********************************搜索*****************************/

.search {
    padding-top:40px;
    width: 430px;
    margin: 0 auto;
    position: relative;

}

.search_text {

    background: #ffffff;
    height: 38px;
    color: #4d4d4d;
    outline: none;

    width: 415px;
    border: #1da3f5 solid 1px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;

}

.search_btn {
    top: 44px;
    right: 18px;
    height: 30px;
    border: none;
    position: absolute;
    width: 30px;
    background: url("../img/search.png");


}
.search_btn:hover {
    cursor: pointer;
}
.search p {
    width: 140px;

}
.search_text::-webkit-input-placeholder{
    color: #a2a2a2;

}
.search_text::-moz-placeholder{
    color: #a2a2a2;

}
.search_text::-ms-input-placeholder{
    color: #a2a2a2;

}



.pictures_title{

    text-align: center;
    margin: 0 auto;
}
.pictures_btn{
    color: #1da3f5;
    margin-left: 5px;
    margin-right: 5px;
}

.pictures_name {
    color: wheat;
    margin-left: 5px;
    margin-right: 5px;
}
/***************************搜索************************/




/******************透明********************/
.bg{


    height:400px;
    background:url("../img/flax.jpg");
    background-attachment: fixed;
}
/********************透明***********************/




/********************精选图片**************************/
.pictures{
    padding-top: 40px;
    width: 1100px;
    height: 570px;
    margin:0 auto ;
}
.pictures h1{
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
.layui-col-md3 div{
    background: #ffffff;
    border-radius: 1em;
    height: 180px;
    margin-top: 10px;


}
.layui-col-md3 div img{
    width: 250px;
    margin-top: 10px;

    margin-left: 8px;
}
.choose_pic {
    position: relative;
}
.nice_on{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 40px;
    background: url("../img/nice_on.png")no-repeat ;
    background-size: cover;
}

.nice_off{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 40px;
    background: url("../img/nice_off.png")no-repeat ;
    background-size: cover;
}
.nice_off:hover{
    cursor: pointer;
}
.collect {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: url("../img/collect_off.png")no-repeat ;
    background-size: cover;
}
.collect:hover{
    cursor: pointer;
}
.collect_on {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: url("../img/collect_on.png")no-repeat ;
    background-size: cover;
}

.chose_title{
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 3px;
    display: inline-block;
    width: 50px;
    height: 20px;
    background:#1da3f5 ;
    color: #f2f2f2;
}
/********************精选图片**************************/


/**************************分类图片******************/
.sort_picture{
    padding-top: 30px;
    width: 1100px;
    height: 700px;
    margin:0 auto ;
}
.sort_picture h1{
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
.sort_pic {
    position: relative;
}
.sort_title{
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 3px;
    display: inline-block;
    width: 50px;
    height: 20px;
    background:#1da3f5 ;
    color: #f2f2f2;
}

#choose_page{
    margin-top: 10px;
    background: #ffffff;
    text-align: center;
    border-radius: 1em;
}
.sort_pics:hover{
    cursor: pointer;
}
/**********************分类图片*********************/











/*************************帮助*****************************/
.help{
    padding-bottom: 20px;
    width: 500px;
    margin: 0 auto;
    border: 0;
}
.help h1 {
    color: #f2f2f2;
   text-align: center;
    margin-bottom: 20px;
}
.help div{
    color: #f2f2f2;
}